.first{
    align-items:flex-end;
    // background-color: red;
    display: flex;
    justify-content: space-between; 
    margin-top: 23px;
    color: #91A5B2;

    .clockStyle{
        font-size: 24px;
        // color: #91A5B2;
    }

    .activeTask{
        font-size: 12px;
        // color: #91A5B2;
    }
}

.incomplete{
    color: #91A5B2;
    display: flex;
    justify-content: space-between;
}


.complete{
    color: #91A5B2;
    display: flex;
    justify-content: space-between;
}


.second{
    align-items:flex-end;
    // background-color:blue;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    margin-top: 20px;
    color: #91A5B2;
    


    .taskLink{
        color: #91A5B2;
        text-decoration: none;
    }
}


.input_together{
    // background-color: burlywood;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;

    .inputStyle{
        background-color:transparent;
        border: 1px solid #91A5B2;
        color: #91A5B2;
        border-radius: 2px;
        padding: 0px 20px; 
    }

    .submmitButton{
        background-color:#354090;
        padding:8px 10px;
        border-radius:2px;
        color:#91A5B2;;
        margin-left:12px;
        border:none;
        font-size:12px;
        font-style:normal;
        font-weight:normal;
    }
}

.last{
    // background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 12px;
    color: #91A5B2;

    .options{
        font-size: 18px;
    }

    .eraseStyle{
        background-color:#354090;
        padding:8px 10px;
        border-radius:2px;
        color:#91A5B2;;
        margin-left:12px;
        border:none;
        font-size:12px;
        font-style:normal;
        font-weight:normal;
    }
}



@media (min-width: 600px){
    .containerStyle{
        background-color:#10131C;;
        margin:45px 183px;
        padding:46px 86px 66px 66px;
        box-shadow: 4px 4px 68px rgba(0, 0, 0, 0.12);
    }

    .main{
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .first{
        align-items: flex-start;
        // background-color: blue;
        display: flex;
        flex-direction: column; 

        .clock{
            margin-bottom: 13px;
        }
    }

    .one{
        // background-color: yellow;
        margin-right:24px;

    }

    .input_together{
        // background-color: green;
        display: flex;
        width:390px;
    }

    .inputStyle{
        margin-right:12px;
        width:308px;
    }

    .last{
    // background-color: white;
    margin-top: 21px;;
    }

}



